{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{% block content %}

<style>
    .formulaire a {
        display: block;
        margin-bottom: 12px;
    }

  

    #termes{
        margin-top: 20px;
        color: #E9D985;
        font-weight: 600;

    }
</style>
<div class="formulaire">

    <h1>Inscrivez-vous</h1>


    <a>{{ form_start(registrationForm) }}</a>
    <a>{{ form_row(registrationForm.nom)}}</a>
    <a>{{ form_row(registrationForm.prenom)}}</a>
    <a>{{ form_row(registrationForm.email) }}</a>
    <a>{{ form_row(registrationForm.adresse) }}</a>
    <a>{{ form_row(registrationForm.cp) }}</a>
    <a>{{ form_row(registrationForm.ville) }}</a>
   

    <a>{{ form_row(registrationForm.plainPassword) }}</a>

    <a>{{ form_row(registrationForm.typeClient) }}</a>

    <a id="termes">{{ form_row(registrationForm.agreeTerms) }}</a>

    <a><button type="submit" class="btn ">S'inscrire</button></a>

    {{ form_end(registrationForm) }}

    <a href="{{ path('app_login') }}">Vous avez déjà un compte ? Connectez-vous</a>

</div>

{% endblock %}
{% endblock %}