<style>
  
    .formulaire a {
        display: block;
        margin-bottom: 12px;
    }
    #date {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }
</style>

    <a>{{ form_start(form) }}</a>
    <a id="date">{{ form_row(form.date)}}</a>
    <a>{{ form_row(form.hauteur)}}</a>
    <a>{{ form_row(form.longueur) }}</a>
    <a>{{ form_row(form.user) }}</a>
    <a>{{ form_row(form.haie) }}</a>
    <br>
    <button class="btn">{{ button_label|default('Save') }}</button>
 
    {{ form_end(form) }}

    
