{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}


{% block content %}


<style>
    h1 {
        text-align: center;
    }

    table th {
        text-align: center;
    }

    table td {
        text-align: center;
    }
</style>

<div class="tableau">
    <h1>Listes des devis</h1>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover table-responsive ">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Haie</th>
                <th>Date</th>
                <th>Longueur</th>
                <th>Hauteur</th>
                <th></th>
                <th></th>

        </thead>
        <tbody>
            {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.user_nom }}</td>
                <td>{{ devi.prenom }}</td>
                <td>{{ devi.haie_nom }}</td>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
                <td>{{ devi.longueur }}</td>
                <td>{{ devi.hauteur }}</td>
                <td>
                    {# AFFICHER #}

                    <a href="{{ path('app_devis_c_r_u_d_show', {'id': devi.id}) }}">

                        <lord-icon src="https://cdn.lordicon.com/xzksbhzh.json" trigger="hover"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </a>
                </td>
                <td>
                    {# MODIFIER #} <a href="{{ path('app_devis_c_r_u_d_edit', {'id': devi.id}) }}">
                        <lord-icon src="https://cdn.lordicon.com/bxxnzvfm.json" trigger="hover"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </a>
                </td>


            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucun devis enregistré</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}