<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}


    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>


<body>
    <style>
            
        .menu {
            background-color: #4B6C21;
            color: #dbdaea;
        
        }
        
        .menu a {
            color: #dbdaea;
            font-size: large;
            margin-left: 10px;
        }
        
        
        .sousmenu {
            background-color: #4B6C21;
            color: #dbdaea;
            width: fit-content;
        
        }
        
        .sousmenu a:hover {
            background-color: #4B6C21;
            
        
        }
        .menu a:hover{
           color: #E9D985;
        }
    </style>
    <!-- Navbar content -->

    <nav class="navbar navbar-expand-lg menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_accueil') }}">
                <img src=" {{asset('images/logo.png')}}" alt="logo" width="50" height="auto">
                Le p'tit j@rdinier
            </a>
            {% if (app.user == null) or (is_granted('ROLE_USER')) %}
            <a class="navbar-brand" href="{{ path('app_mesure') }}">
                Faire un devis en ligne
            </a>
            {% if is_granted('ROLE_USER') %}
            <a class="navbar-brand" href="{{ path('app_show_devis_by_user') }}">
                Vos devis
            </a>
            {% endif %}
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gestion des devis
                        </a>
                        <ul class="dropdown-menu sousmenu">
                            <li> <a class="dropdown-item sousmenu"
                                    href="{{ path('app_devis_c_r_u_d_index') }}">Consulter les
                                    devis</a></li>

                            <li><a class="dropdown-item sousmenu" href="{{ path('app_mesure') }}">Créer un nouveau
                                    devis</a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown sousmenu">
                        <a class="nav-link dropdown-toggle sousmenu" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gestion des utilisateurs
                        </a>
                        <ul class="dropdown-menu sousmenu">
                            <li> <a class="dropdown-item sousmenu" href="{{ path('app_user_c_r_u_d_index') }}">Consulter
                                    les
                                    utilisateurs</a></li>


                            <li> <a class=" dropdown-item sousmenu" href="{{ path('app_user_c_r_u_d_new') }}">Créer
                                    un nouvel utilisateur</a></li>
                        </ul>
                    </li>

                    <li class=" nav-item dropdown sousmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gestion des haies
                        </a>
                        <ul class="dropdown-menu sousmenu">
                            <li> <a class="dropdown-item sousmenu" href="{{ path('app_haie_c_r_u_d_index') }}">Consulter
                                    les haies</a></li>
                            <li><a class="dropdown-item sousmenu" <a href="{{ path('app_haie_c_r_u_d_new') }}">Créer
                                    une
                                    nouvelle haie</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown sousmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gestion des catégories
                        </a>
                        <ul class="dropdown-menu sousmenu">
                            <li> <a class="dropdown-item sousmenu"
                                    href="{{ path('app_categorie_c_r_u_d_index') }}">Consulter
                                    les catégories</a></li>
                            <li><a class="dropdown-item sousmenu" <a
                                    href="{{ path('app_categorie_c_r_u_d_new') }}">Créer une
                                    nouvelle catégorie</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if app.user != null %}
                    <li><a class="navbar-brand" href="{{ path('app_user_c_r_u_d_show', {'id': app.user.id}) }}">
                        Mon compte
                    </a></li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                    <li><a class="navbar-brand" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a></li>

                    {% else %}


                    <li><a class="navbar-brand" href="{{ path('app_register') }}">
                            Inscription
                        </a></li>
                    <li><a class="navbar-brand" href="{{ path('app_login') }}">
                            Connexion
                        </a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>


    </div>

    {% block content %}
    {% endblock %}
</body>

</html>